
.project
Phase1/.classpath
Phase1/.classpath
*.class
Phase1/bin/myLuceneApp/IndexerDemo.class
Phase1/bin/myLuceneApp/IndexerDemo.class
*.classpath
*.zip
*.cfe
*.cfs
*.si
*.lock
WordEmbeddingsSimilarity/index/*
